In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
# Dataset load (CSV)
dataset_path = './dataset/disaster.csv'
df = pd.read_csv(dataset_path, header=None)
df.head()

,0,1,2,3,4,5
0,0,1,2,3,4,5
1,5 Gempa Guncang Jatim Hari Ini,\-\n\nGempa di Jawa Timur terjadi 5 kali hari ...,0,0,0,0
2,"Kekeringan, 'Jokowi' Pun Ditanam di Dasar Sung...",\- Kemarau panjang membuat air Sungai Citarum ...,0,0,0,0
3,"Selain Terjang SPBU, Angin Kencang juga Rusak ...",\-\n\nAngin kencang yang merusak SPBU di Ambar...,0,1,15,0
4,Belasan Rumah dan 1 Merajan di Buleleng Rusak ...,\-\n\nHujan deras disertai dengan angin kencan...,0,0,belasan,1

In [3]:
df = df.iloc[1: , :]
col_names = ['title','description', 'mati', 'luka', 'rumah', 'orang']
df.columns = col_names

df.head()

,title,description,mati,luka,rumah,orang
1,5 Gempa Guncang Jatim Hari Ini,\-\n\nGempa di Jawa Timur terjadi 5 kali hari ...,0,0,0,0
2,"Kekeringan, 'Jokowi' Pun Ditanam di Dasar Sung...",\- Kemarau panjang membuat air Sungai Citarum ...,0,0,0,0
3,"Selain Terjang SPBU, Angin Kencang juga Rusak ...",\-\n\nAngin kencang yang merusak SPBU di Ambar...,0,1,15,0
4,Belasan Rumah dan 1 Merajan di Buleleng Rusak ...,\-\n\nHujan deras disertai dengan angin kencan...,0,0,belasan,1
5,"Gempa M 5,2 Guncang Bolsel Sulut, Tidak Berpot...","\-\n\nGempa bumi berkekuatan magnitudo (M) 5,2...",0,0,0,0

In [4]:
# View summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 1 to 1450
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        1450 non-null   object
 1   description  1450 non-null   object
 2   mati         1450 non-null   object
 3   luka         1450 non-null   object
 4   rumah        1450 non-null   object
 5   orang        1450 non-null   object
dtypes: object(6)
memory usage: 68.1+ KB

In [5]:
# df_rest = df.drop(['title', 'description'], axis=1)
df_rest = df

In [6]:
# Data Cleansing
df_rest = df_rest.replace({',': '.'}, regex=True)
df_rest['mati'] = [re.sub("[^0-9]", "", str(mati)) if (re.sub("[^0-9]", "", str(mati)) != '') else 1 for mati in df_rest['mati']]
df_rest['luka'] = [re.sub("[^0-9]", "", str(luka)) if (re.sub("[^0-9]", "", str(luka)) != '') else 1 for luka in df_rest['luka']]
df_rest['rumah'] = [re.sub("[^0-9]", "", str(rumah)) if (re.sub("[^0-9]", "", str(rumah)) != '') else 1 for rumah in df_rest['rumah']]
df_rest['orang'] = [re.sub("[^0-9]", "", str(orang)) if (re.sub("[^0-9]", "", str(orang)) != '') else 1 for orang in df_rest['orang']]

df_rest
# df_rest.to_csv('coba.csv')
# df_rest.to_excel('coba.xlsx', index=None)

,title,description,mati,luka,rumah,orang
1,5 Gempa Guncang Jatim Hari Ini,\-\n\nGempa di Jawa Timur terjadi 5 kali hari ...,0,0,0,0
2,Kekeringan. 'Jokowi' Pun Ditanam di Dasar Sung...,\- Kemarau panjang membuat air Sungai Citarum ...,0,0,0,0
3,Selain Terjang SPBU. Angin Kencang juga Rusak ...,\-\n\nAngin kencang yang merusak SPBU di Ambar...,0,1,15,0
4,Belasan Rumah dan 1 Merajan di Buleleng Rusak ...,\-\n\nHujan deras disertai dengan angin kencan...,0,0,1,1
5,Gempa M 5.2 Guncang Bolsel Sulut. Tidak Berpot...,\-\n\nGempa bumi berkekuatan magnitudo (M) 5.2...,0,0,0,0
...,...,...,...,...,...,...
1446,Begini Teknis Pemadaman Api dengan Helikopter ...,\- Pemadaman menggunakan helikopter water bomb...,0,0,0,0
1447,Ruas Jalan di Utara Stasiun Delanggu Klaten Ra...,\-\n\nJalan di sebelah utara Stasiun Delanggu....,0,0,0,0
1448,Demi Air Bersih. Warga Gunungkidul Ambil Air d...,\- Musim kemarau yang datang lebih awal membua...,0,0,1,0
1449,Puluhan Rumah Terbakar. Bobby Carikan Tempat T...,\-\n\nWali Kota Medan Bobby Nasution meninjau ...,0,1,10,154
1450,11 Bayi Baru Lahir Tewas dalam Kebakaran Rumah...,\-\n\nRuangan intensif perawatan bayi di Rumah...,1,0,1,0

In [7]:
def matiScale(matiCount: int) -> int:
  if matiCount < 6:
    return 1
  elif matiCount >= 6 and matiCount < 12:
    return 2
  return 3

def lukaScale(lukaCount: int) -> int:
  if lukaCount < 10:
    return 1
  elif lukaCount >= 10 and lukaCount < 20:
    return 2
  return 3

def rumahScale(rumahCount: int) -> int:
  if rumahCount < 4:
    return 1
  elif rumahCount >= 4 and rumahCount <= 10:
    return 2
  return 3

def orangScale(orangCount: int) -> int:
  if orangCount < 10:
    return 1
  elif orangCount >= 10 and orangCount <= 20:
    return 2
  return 3

def calculate(mati: int, luka: int, rumah: int, orang: int):
  subtractor = 0
  total = 0

  if (mati > 0):
    total += matiScale(matiCount=mati)
  else:
    subtractor += 1

  if (luka > 0):
    total += lukaScale(lukaCount=luka)
  else:
    subtractor += 1

  if (rumah > 0):
    total += rumahScale(rumahCount=rumah)
  else:
    subtractor += 1
  
  if (orang > 0):
    total += orangScale(orangCount=orang)
  else:
    subtractor += 1
          

  divider = (4 - subtractor)
  severityMean = 0

  if (divider > 0):
    severityMean = total / divider

  if severityMean <= 1:
    return 'rendah'
  elif severityMean > 1 and severityMean <= 2:
    return 'sedang'
  else:
    return 'parah'

In [8]:
keparahanValues = []

for index, row in df_rest.iterrows():
  result = calculate(orang=int(row['orang']), \
      luka=int(row['luka']), \
        rumah=int(row['rumah']), \
          mati=int(row['mati']))
  
  keparahanValues.append(result)

In [9]:
df_rest['keparahan'] = keparahanValues
df_rest.head()

,title,description,mati,luka,rumah,orang,keparahan
1,5 Gempa Guncang Jatim Hari Ini,\-\n\nGempa di Jawa Timur terjadi 5 kali hari ...,0,0,0,0,rendah
2,Kekeringan. 'Jokowi' Pun Ditanam di Dasar Sung...,\- Kemarau panjang membuat air Sungai Citarum ...,0,0,0,0,rendah
3,Selain Terjang SPBU. Angin Kencang juga Rusak ...,\-\n\nAngin kencang yang merusak SPBU di Ambar...,0,1,15,0,sedang
4,Belasan Rumah dan 1 Merajan di Buleleng Rusak ...,\-\n\nHujan deras disertai dengan angin kencan...,0,0,1,1,rendah
5,Gempa M 5.2 Guncang Bolsel Sulut. Tidak Berpot...,\-\n\nGempa bumi berkekuatan magnitudo (M) 5.2...,0,0,0,0,rendah

In [10]:
df_rest.to_csv('./dataset/hasil_keparahan.csv', index=False)
# df_rest.to_excel('hasil_keparahan.xlsx')

In [11]:
# Dataset load
dataset_path = './dataset/hasil_keparahan.csv'
df = pd.read_csv(dataset_path)
df.head()

,title,description,mati,luka,rumah,orang,keparahan
0,5 Gempa Guncang Jatim Hari Ini,\-\n\nGempa di Jawa Timur terjadi 5 kali hari ...,0,0,0,0,rendah
1,Kekeringan. 'Jokowi' Pun Ditanam di Dasar Sung...,\- Kemarau panjang membuat air Sungai Citarum ...,0,0,0,0,rendah
2,Selain Terjang SPBU. Angin Kencang juga Rusak ...,\-\n\nAngin kencang yang merusak SPBU di Ambar...,0,1,15,0,sedang
3,Belasan Rumah dan 1 Merajan di Buleleng Rusak ...,\-\n\nHujan deras disertai dengan angin kencan...,0,0,1,1,rendah
4,Gempa M 5.2 Guncang Bolsel Sulut. Tidak Berpot...,\-\n\nGempa bumi berkekuatan magnitudo (M) 5.2...,0,0,0,0,rendah

In [12]:
df_rest = df.drop(['title', 'description'], axis=1)
df_rest.head()

   mati  luka  rumah  orang keparahan
0     0     0      0      0    rendah
1     0     0      0      0    rendah
2     0     1     15      0    sedang
3     0     0      1      1    rendah
4     0     0      0      0    rendah

In [13]:
# Declare feature vector and target variable
X = df_rest.drop(['keparahan'], axis=1)
y = df_rest['keparahan']

In [14]:
# Split X and y into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [15]:
# Check the shape of X_train and X_test

X_train.shape, X_test.shape

((1015, 4), (435, 4))

In [16]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
# Model training
from sklearn.naive_bayes import GaussianNB

## Instantiate the model
gnb = GaussianNB()

## Fit the model
gnb.fit(X_train, y_train)

GaussianNB()

In [18]:
y_pred = gnb.predict(X_test)

y_pred

array(['rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'parah', 'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'sedang',
       'rendah', 'parah', 'rendah', 'parah', 'rendah', 'parah', 'rendah',
       'parah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'sedang',
       'parah', 'rendah', 'rendah', 'parah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'parah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'parah', 'parah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'parah', 'rendah', 'parah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'parah', 'rendah', 'parah', 'rendah', 'rendah', 'rendah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'parah', 'parah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'parah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'sedang', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'sedang', 'rendah', 'parah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'parah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'parah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'sedang', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'parah', 'rendah', 'parah', 'rendah', 'parah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'parah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'parah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'parah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'parah',
       'rendah', 'rendah', 'rendah', 'rendah', 'parah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'rendah', 'rendah', 'rendah', 'rendah', 'rendah', 'rendah',
       'parah', 'rendah', 'rendah'], dtype='<U6')

In [19]:
# Check accuracy score
from sklearn.metrics import accuracy_score

print('Model accuracy score : {0:0.4f}'.format(accuracy_score(y_test, y_pred)))

Model accuracy score : 0.8460

In [20]:
y_pred_train = gnb.predict(X_train)

y_pred_train

array(['rendah', 'rendah', 'rendah', ..., 'rendah', 'rendah', 'rendah'],
      dtype='<U6')

In [21]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.8355

In [22]:
# Print the scores on training and test set
print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))
print('Test set score: {:.4f}'.format(gnb.score(X_test, y_test)))

Training set score: 0.8355
Test set score: 0.8460

In [23]:
# Check class distribution in test set
y_test.value_counts()

rendah    350
sedang     64
parah      21
Name: keparahan, dtype: int64

In [24]:
# Check null accuracy score

null_accuracy = (7407/(7407+2362))
print('Null accuracy score: {0:0.4f}'. format(null_accuracy))

Null accuracy score: 0.7582

In [25]:
# # Print the Confusion Matrix and slice it into four pieces
# from sklearn.svm import SVC
# from sklearn.metrics import confusion_matrix
# import matplotlib.pyplot as plt # for data visualization purposes
# import seaborn as sns # for statistical data visualization
# %matplotlib inline

In [26]:
# clf = SVC(kernel = 'linear').fit(X_train,y_train)
# clf.predict(X_train)

# y_pred = clf.predict(X_test)

# cm = confusion_matrix(y_test, y_pred)
# cm_df = pd.DataFrame(cm,
#                      index = ['rendah','sedang','parah'], 
#                      columns = ['rendah','sedang','parah'])

In [27]:
# #Plotting the confusion matrix
# plt.figure(figsize=(5,4))
# sns.heatmap(cm_df, annot=True)
# plt.title('Confusion Matrix')
# plt.ylabel('Actal Values')
# plt.xlabel('Predicted Values')
# plt.show()

In [28]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       parah       0.38      0.81      0.52        21
      rendah       0.91      1.00      0.95       350
      sedang       0.20      0.02      0.03        64

    accuracy                           0.85       435
   macro avg       0.50      0.61      0.50       435
weighted avg       0.78      0.85      0.80       435

In [29]:
# print the first 10 predicted probabilities of two classes- 0 and 1

y_pred_prob = gnb.predict_proba(X_test)[0:10]

y_pred_prob

array([[3.84931977e-13, 1.00000000e+00, 3.23983026e-13],
       [3.84931977e-13, 1.00000000e+00, 3.23983026e-13],
       [4.19518226e-13, 1.00000000e+00, 3.52381246e-13],
       [3.91003444e-13, 1.00000000e+00, 3.29092974e-13],
       [3.84931977e-13, 1.00000000e+00, 3.23983026e-13],
       [4.48113328e-12, 1.00000000e+00, 3.77065638e-12],
       [5.45583643e-01, 0.00000000e+00, 4.54416357e-01],
       [3.84931977e-13, 1.00000000e+00, 3.23983026e-13],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.84931977e-13, 1.00000000e+00, 3.23983026e-13]])

In [30]:
# store the probabilities in dataframe

y_pred_prob_df = pd.DataFrame(data=y_pred_prob, columns=['Prob of - Rendah', 'Prob of - Sedang', 'Prob of - Tinggi'])

y_pred_prob_df

   Prob of - Rendah  Prob of - Sedang  Prob of - Tinggi
0      3.849320e-13               1.0      3.239830e-13
1      3.849320e-13               1.0      3.239830e-13
2      4.195182e-13               1.0      3.523812e-13
3      3.910034e-13               1.0      3.290930e-13
4      3.849320e-13               1.0      3.239830e-13
5      4.481133e-12               1.0      3.770656e-12
6      5.455836e-01               0.0      4.544164e-01
7      3.849320e-13               1.0      3.239830e-13
8      1.000000e+00               0.0      0.000000e+00
9      3.849320e-13               1.0      3.239830e-13

In [39]:
# Applying 10-Fold Cross Validation

from sklearn.model_selection import cross_val_score

scores = cross_val_score(gnb, X_train, y_train, cv = 10, scoring='accuracy')

print('Cross-validation scores:{}'.format(scores))

Cross-validation scores:[0.83333333 0.83333333 0.87254902 0.84313725 0.83333333 0.83168317
 0.82178218 0.82178218 0.82178218 0.84158416]

In [40]:
# compute Average cross-validation score

print('Average cross-validation score: {:.4f}'.format(scores.mean()))

Average cross-validation score: 0.8354